

:root {

    //colors 
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --DarkGray: hsl(0, 0%, 55%);
    --VeryDarkGray: hsl(0, 0%, 41%);


    //fonts 
    --font-alata:'Alata',sans-serif;
    --font-jos: 'Josefin Sans',sans-serif;

    //base line
    --baseHeight:20px;
    --OneTwo:8em;
    --NineSix: 6.4em;
    --seven:5.2em;
    --sixF:4.26em;
    --fiveSix:3.73em;
    --fourE:3.2em;
    --thirty: 2.4em;
    --twentyF:1.6em;
    --twelve:0.8em;

}