html {

    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;

    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

svg{
    
    pointer-events: none;
}

body {
    font-size: 15px;
    line-height: 1.5;
    font-family: var(--font);
 
       overflow-x: hidden;
}
