.home--header {
    max-width: 480px;
height: 80vh;
 background-image: url(../backgroundimage/mobile/image-hero.jpg);
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 padding: var(--fiveSix) var(--twentyF);
 margin-bottom: var(--seven);
 position: relative;

}

.desktop--nav{
    display: none;
}
nav{
    @include flex-1;
    justify-content: space-between;
  

    h1{
        font-weight: 700;
        color: var(--White);
        font-family: var(--font-jos);
        font-size: 1.3rem;
    }

    #hamburger--icon{
        @include svg-button;
        background-color: unset;
        cursor: pointer;
    }


}
.hero--text{
    margin-top: var(--OneTwo);
    border: 2px solid var(--White);
    padding: var(--twentyF);

    h2{
        font-size: 2rem;
        font-weight: 300;
        text-transform: uppercase;
        font-family: var(--font-jos);
        color: var(--White);
    }
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--Black);
    padding: var(--fiveSix) var(--twentyF);
     transition: opacity 0.4s ease-in-out;
     animation: navAni 0.4s ease-in-out forwards;
     opacity: 0.3;
    

    nav{
        display: grid;
        grid-template-columns: repeat(1,1fr);

        .logo--section{
            @include flex-1;
            justify-content: space-between;

            button{
                @include svg-button;
                background-color: unset;
                cursor: pointer;
            }
        }
    }
}

.mobile--nav{
  margin-top: var(--OneTwo);
  @include ul;
  flex-direction: column;
  align-items: flex-start;

  li {
      margin-bottom: 1em;
  }

  a {
      color: var(--White);
      font-family: var(--font-jos);
      text-transform: capitalize;
      font-size: 1.4rem;
      position: relative;

      &::after{
          @include nav-links-hover;
          bottom: -4px;
          border-bottom: 1px solid var(--White);

      }
      &:hover::after{
          transform: scaleX(1);
        
      }

  }
}


@keyframes navAni {
    0%{
        opacity: 0.3;
    }

    100%{
        opacity: 1;
    }
}