

.home--main {
    max-width: 480px;
    padding:  var(--twentyF);
    margin-bottom: var(--seven);
    .intro--section{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
        place-content: center;
    }
}

.about--main {
    max-width: 480px;
    margin-bottom: var(--seven);

}

.event--main {
    max-width: 480px;

    background-color: var(--Verydarkblue);
    padding: var(--fiveSix) 0;
    font-family: var(--font-red);

}

.events--info {
    padding: var(--twentyF);
    @include flex-2;
    margin-bottom: var(--fourE);

}





@keyframes tr {
    0% {
        opacity: 0.5;
      
    }

    100% {
        opacity: 1;
    }
}
.ht{
    background-color: var(--Black);
    color: var(--White);
}
.img--section {
    margin-bottom: var(--twentyF);

    img{
        width: 100%;
    }
}

.intro--section,
.about--section {
    margin-bottom: var(--fourE);

    article {
        padding: var(--twentyF);
        @include flex-2;

        h2 {
            text-align: center;
            font-family: var(--font-jos);
            font-weight: 500;
            text-transform: uppercase;
            font-size: 2rem;
            margin-bottom: .75em;
            color: var(--Black);
        }

        p {
            color: var(--DarkGray);
            font-family: var(--font-alata);
            text-align: center;
            max-width: 40ch;
            line-height: 1.5;
        }
    }
}

@import './creations';
@import './team';
@import './Events';

.subscription {
    padding: 0 var(--twentyF);
    @include flex-2;
    margin-bottom: var(--fourE);

    h2 {
        text-align: center;
        font-family: var(--font-jos);
        font-weight: 500;
        text-transform: uppercase;
        font-size: 1.5rem;
        margin-bottom: .75em;
        color: var(--Black);
    }

    form {

        width: 100%;
        max-width: 500px;
        height: 40px;
        position: relative;

        .form--control {
            width: 100%;
            height: 100%;

            input {
                width: 100%;
                height: 100%;
                appearance: none;
                border-radius: 50px;
                border: 1px solid rgba($color: #000000, $alpha: 0.6);
                padding: 1em;
            }

            ::placeholder {
                font-size: 0.6rem;
                text-transform: uppercase;
                font-family: var(--font-jos);
                color: var(--DarkGray);

            }
        }

        #submit {
            position: absolute;
            top: 5px;
            right: 10px;
            @include button;
            border-radius: 50px;
            padding: 0.375em 2em;
            background-color: rgba($color: #000000, $alpha: 1);
            color: var(--White);
            font-family: var(--font-jos);
            font-weight: 300;
            text-transform: uppercase;
            font-size: 0.8rem;
            @include box-shadow-4;
        }
    }
}

.invitation {
    width: 100%;
    @include flex-1;
    margin-top: var(--fourE);

    h2 {
        display: none;
    }

    form {
        @include flex-2;
        width: 100%;
        height: 40px;
        max-width: 500px;
        position: relative;

        .form--control {
            width: 100%;
            height: 100%;

            input {
                width: 100%;
                height: 100%;
                appearance: none;
                border-radius: 50px;
                border: none;
                padding: 1em;
            }

            ::placeholder {
                font-size: 0.8rem;
                text-transform: uppercase;
                font-family: var(--font-red);
                color: var(--DarkGray);
                text-align: center;
                letter-spacing: 2px;

            }
        }

        #submit {

            margin-top: 1.5em;
            @include button;

            padding: 1em 2em;
            line-height: 1.5;
            vertical-align: middle;
            background-color: var(--Darkdesaturatedblue);
            color: var(--White);
            font-family: var(--font-jos);
            font-weight: 500;
            text-transform: uppercase;
            font-size: 0.8rem;
            letter-spacing: 4px;
            @include box-shadow-4;
        }
    }

}

.banner--section {
    height: 30vh;
    background-image: url(../backgroundimage/mobile/TECH.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    margin-bottom: var(--fourE);
}

.current--project {
    padding: 0 var(--twentyF);
    display: grid;
    grid-template-columns: repeat(1, minmax((1fr, 480px)));
    gap: 1rem;
    place-content: center;
      

    .project--section{
        padding: 24px;

    }
    figure{
        img{
            height: 100%;
            object-fit: cover;
        }
    }

    h2,
    h3 {
        text-align: center;
        font-family: var(--font-jos);
        font-weight: 500;
        text-transform: uppercase;
        font-size: 1.5rem;
         margin-bottom: 12px;
        color: var(--Black);
    }

    article {
        margin-bottom: var(--twentyF);
     
        p {
            max-width: 40ch;
            text-align: center;
            line-height: 1.5;
            color: var(--DarkGray);
            font-family: var(--font-alata);
        }
    }

}

.progress--bar {
    width: 100%;
    height: 30px;
    border: 1px solid rgba($color: #000000, $alpha: 0.7);
    position: relative;
    overflow: hidden;
    max-width: 480px;

    div {
        width: 50%;
        height: 100%;
        background-color: #000000;
        background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
        position: absolute;
        transition: transform 0.4s ease-in;
        transform-origin: 0%;
        transform: scaleX(0);
        animation: progress 1s ease-in forwards;
    }
}



@keyframes progress {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

.event--details {
    padding: var(--fourE) var(--twentyF);
    @include flex-2;
}

.event--org {
    margin-bottom: var(--fourE);
   

    figure {
        border-radius: 5px;


        img {
            border-radius: 5px;
        }

        figcaption {
            margin-top: var(--twelve);
            font-size: 2rem;
            text-transform: capitalize;
            text-align: center;
            font-weight: 700;
            color: var(--White);

            span {
                font-weight: 400;
                color: var(--Softred);
            }
        }
    }

    p {
        text-align: center;
        text-transform: uppercase;
        color: var(--White);
        letter-spacing: 4px;

    }
}

.events--cards {
    ul {
        display: grid;
        grid-template-columns: repeat(1, 330px);
   
        gap: 1rem;
    }

    li {
        figure {
            border-radius: 5px;
            position: relative;

            img {
                border-radius: 5px;

            }

            figCaption {
                position: absolute;
                bottom: 15px;
                @include flex-2;
                width: 100%;
                text-transform: uppercase;
                letter-spacing: 3px;
                font-family: var(--font-red);


                h3 {
                    font-weight: 500;
                    font-size: 1rem;
                    color: hsl(236, 14, 12);
                }

                p {
                    font-size: 0.8rem;
                    font-weight: 500;
                    color: hsl(236, 14, 12);
                    text-align: center;
                }
            }
        }

        &:nth-of-type(2) {
            figure {
                figcaption {

                    h3 {
                        color: var(--White);
                    }

                    p {
                        color: var(--White);
                    }
                }
            }
        }

        &:nth-of-type(3) {
            figure {
                figcaption {
                    top: 30px;
                    bottom: unset;
                    left: 40px;


                }
            }
        }
    }
}

.event--banner {


    background-image: url(../backgroundimage/mobile/banner2.jpg);


}

small{
    font-size: 1.2rem;
    text-transform: capitalize;
    text-align: left;
    color: rgb(250, 106, 106);
    font-family: var(--font-red);
    font-weight: 700;
    margin-top: 12px;
    width: 100%;
    padding-left: 12px;
}
@import './Supports';




