main {
    max-width: 480px;
    padding: 0 var(--twentyF);
     margin-bottom: var(--seven);
}

.img--section {
    margin-bottom: var(--twentyF);
}

.intro--section {
    margin-bottom: var(--fourE);

    article {
        padding: var(--twentyF);

        h2 {
            text-align: center;
            font-family: var(--font-jos);
            font-weight: 300;
            text-transform: uppercase;
            font-size: 2rem;
            margin-bottom: .75em;
            color: var(--Black);
        }

        p {
            color: var(--DarkGray);
            font-family: var(--font-alata);
            text-align: center;
            max-width: 40ch;
        }
    }
}

@import './creations';