.teams--section{
    padding: 0  var(--twentyF);
    margin-bottom: var(--fourE);
}
.cards--section{
    background-color: var(--Black);
    padding: var(--twentyF);

    h2{
         text-align: center;
         font-family: var(--font-jos);
         font-weight: 300;
         text-transform: uppercase;
         font-size: 1.5rem;
         margin-bottom: 1.5em;
         color: var(--White);

    }

    ul{
        display: grid;
        grid-template-columns: repeat(1, 300px);
        grid-auto-rows: 200px;
        gap: 2rem;
        place-content: center;


        li{
            background-color: var(--White);
            border-radius: 5px;
        }
    }
}

.card{
    @include flex-2;
padding: var(--twentyF);
    .img--section{
         width: 100px;
         height: 100px;
         background-image: url(../backgroundimage/bg.svg);
         transition: transform 0.4s ease-in;
         transform: scale(0);
         animation: pop 0.4s ease-in forwards;
        border-radius: 50%;
        position: relative;
        top: -40px;
        margin: 0;
        @include flex-1;
    

        img{  width: 90px;
              height: 90px;
              
            border-radius: 50%;
        }
    }

    article{
      
        text-align: center;

        h3{
            text-align: center;
            font-family: var(--font-jos);
            font-weight: 600;
            text-transform: uppercase;
            font-size: 1rem;
            margin-bottom: .5em;
            color: var(--Black);
        }
          p {
              color: var(--DarkGray);
              font-family: var(--font-alata);
              text-align: center;
              max-width: 40ch;
            

          }
        
    }
}

@keyframes pop {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}